<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="MyCRUD.Properties.Settings.ConnectionString"
         connectionString="Data Source=DESKTOP-27DTS7O\SQLEXPRESS;Initial Catalog=master;Integrated Security=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  
  
</configuration>